/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { font-family:Georgia,serif; font-size:13px; background: #1d1d1d; color: #fff; }
h1 { margin: 20px 0 0 0; padding:15px; border-left-width:10px; border-left-color:#eeeeee; border-left-style:solid; }
h1 small{ font-size: 10px; text-transform:uppercase; letter-spacing: 14px; display: block; color: #ccc; }
h2 { font-style:italic; font-size:13px; margin:10px 0 5px 30px; }
p { margin:10px 0; }
a { color:#eee; }

/* COMMON CLASSES */
.break { clear:both; }

/* WRAPPER */
#wrapper { width:800px; margin:0 auto; }

/* JTYPINGHERO */
#jtypinghero { margin:20px 0; }
#jheroboard { width:650px; height:500px; float:left; background-color:#3B3F42; background-image:url("../images/bg.png");
	-moz-box-shadow: 0 0 10px #adadad; -moz-border-radius: 5px; -webkit-box-shadow: 0 0 10px #adadad; -webkit-border-radius: 5px; }
#jherostats { width:98px; height:500px; margin-left:50px; float:left; border:1px solid white;
	-moz-box-shadow: 0 0 10px #adadad; -moz-border-radius: 5px; -webkit-box-shadow: 0 0 10px #adadad; -webkit-border-radius: 5px; text-align:center; }

#jherostart { cursor:pointer; }
.extrapadding { padding-top:50px; }

#jherocharcontainer { margin:450px 0 0 13px; }
#jherocharcontainer ul { list-style:none; }
#jherocharcontainer ul li { display:inline; width:24px; height:25px; float:left; background-image:url("../images/plain.png"); }

#droppingcharcontainer { margin-left:13px; }
.droppingchar { position:absolute; width:24px; height:25px; }
.droppingchar p { background-image:url("../images/neutral.png"); }
	
.orb { text-align:center; font-family:"Helvetica Neue",Arial,Helvetica,sans-serif; font-weight:bold; font-size:18px; text-shadow: #000 0 2px 0; color: #EEEEEE; }
.stats { text-align:center; display:none; }
.counter { font-size:30px; font-style:italic; font-weight:bold; }

.gameoverscreen { text-align:center; background-color:#818181; width:200px; height:300px; position:absolute; margin-left:250px; margin-top:100px; display:none;
	-moz-box-shadow: 0 0 10px #adadad; -moz-border-radius: 5px; -webkit-box-shadow: 0 0 10px #adadad; -webkit-border-radius: 5px; }
.gameoverscreen h2 { margin:0; }

/* INFO */
#info { margin-top:40px; }
.nolist { list-style:none; }