/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/
body, div, img, p { padding:0; margin:0; }
body { background-image:url(../images/bg.jpg); }
h1 { font-family:Georgia,serif; margin: 20px 0 20px 0; padding:15px; border-left-width:10px; border-left-color:#eeeeee; border-left-style:solid; color:#eeeeee; }
h1 small{ font-size: 10px; text-transform:uppercase; letter-spacing: 14px; display: block; color: #ccc; }

/* WRAPPER */
#wrapper { width:800px; margin:0 auto; }
#info { margin-top:50px; }
#info p { color:#eee; font-family:Georgia,serif; margin-top:10px; }
#info p a { color:#eee; }
#toggle { text-decoration:underline; }

/* POLAROID */
#polaroidcontainer { width:800px; height:400px; }

.polaroid { width:147px; height:150px; background-image:url(../images/polaroid-bg.png); position:absolute; }
.polaroid img { width:134px; height:110px; margin:11px 0 0 7px; }
.polaroid p { text-align:center; font-family:Georgia,serif; font-size:9px; color:#2E2E2E; margin-top:6px; }

.redborder { border:1px solid red; margin:-1px; }