/*
                                __      _ _                   _   
                               / _|    | (_)                 | |  
 _ __ ___   __ _ _ __ ___ ___ | |_ ___ | |_  ___   _ __   ___| |_ 
| '_ ` _ \ / _` | '__/ __/ _ \|  _/ _ \| | |/ _ \ | '_ \ / _ \ __|
| | | | | | (_| | | | (_| (_) | || (_) | | | (_) || | | |  __/ |_ 
|_| |_| |_|\__,_|_|  \___\___/|_| \___/|_|_|\___(_)_| |_|\___|\__|
                                                                  
*/

/* BASIC RESET */
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

/* HTML ELEMENTS */
body { overflow:hidden; }

/* PICTURES */
#pictureSlider { }
#pictureSlider div { height:1000px; width:2000px; position:absolute; z-index:-999; }

/* NAVIGATION BOX */
.navbox { width:450px; height:300px; position:absolute; left:0px; top:50px; }
.navbox ul { list-style:none; position:absolute; right:10px; top:10px; }
.navbox ul li { display:inline; cursor:pointer; }
.navbox ul li a { display:block; float:left; width:17px; height:17px; text-align:center; background-image:url("../images/nav_btns.png"); margin-left:5px;
	text-decoration:none; color:#eee; font: bold 14px Helvetica, Arial, Sans-serif; line-height:18px; }
.navbox ul li a:hover { background-position:bottom; color:#000; }	
.navbox ul li a.active { color:#777; }

.navbox h2 { padding:50px 20px 0 20px; font: bold 40px Helvetica, Arial, Sans-serif; text-shadow: 0px 2px 6px #333; color:#eee; }
.navbox p { padding:20px 20px 20px 20px; font-family: "Segoe UI","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Arial,Tahoma,Verdana,sans-serif; font-size:13px; color:#111; }
.navbox p a { text-decoration:none;  text-transform:uppercase; letter-spacing: 10px; color:#eee; }
.navbox p a:hover { border-bottom:1px dotted; }
.navbox p.bottom { position:absolute; bottom:5px; right:5px; }

.cam { background-image:url("../images/bg_cam_txt.png"); }
.clouds { background-image:url("../images/bg_clouds_txt.png"); }
.key { background-image:url("../images/bg_key_txt.png"); }
.flowers { background-image:url("../images/bg_flowers_txt.png"); }